@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

body {
    background-color: rgb(255, 251, 218);
    background-image: url("../assets/leaves_background.png");
    background-size:cover;
    width: 100%;
    height: 100%;
    font-family: 'Dancing Script', cursive !important;
}

#wholeNav {
    background-color: rgb(179, 177, 158, 0.55) !important;
}

.nav-item {
    margin-left: -32px;
    margin-right: -32px;
}

